@import "variaveis";
@import "header";
@import "hero";
@import "about";
@import "meet";
@import "trailer";
@import "buy";
@import "footer";

html {
  overflow-x: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  border: none;
  text-decoration: none;
}

body {
  background-color: $zinc900;
}

a {
  color: $neutral100;
}

.section--title {
  font-family: "Montserrat";
  color: $zinc700;
  font-size: 64px;
  text-align: center;
  margin: 20px 0;
}

.btn--about {
  padding: 9px 27px;
  background-color: $emerald800;
  border-radius: 15px;
  font-family: "Montserrat";
  color: $neutral100;
  margin-top: 10px;
  position: absolute;
  left: 150px;
  cursor: pointer;
}

.card--name {
  font-family: "Montserrat";
  font-size: 20px;
  color: $neutral100;
  text-align: center;
  margin-top: 16px;
}

.footer--text {
  font-family: "Montserrat";
  font-size: 24px;
  color: $zinc700;
  text-transform: uppercase;
  line-height: 29px;
}

.gap1 {
  gap: 15px;
  margin-left: 40px;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}
